/* Header and Global styling */

:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color: rgb(253, 113, 190);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Engula;
    color: var(--secondary-color);
}

html {
    background-color: black;
}
/*Lets me use a custom font*/
@font-face {
    font-family: Engula, Verdana;
    src: url('Engula-Regular.TFF');
}

body {
    position: relative;
    padding-bottom: 5vh;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    margin-right: 10px;
    margin-top: 5px;
    width: 110px;
    height: 80px;
}

.header-stuff {
    display: flex;
    flex-wrap: nowrap;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin: 0;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    font-size: 35px;
    padding: 20px 30px;
}

header ul li:hover {
    background-color: var(--secondary-color);
    
}

header ul li:hover .header-link {
    color: var(--primary-color);
}

.icon {
    width: 40px;
    height: 40px;
}

#icons {
    display: flex;
    align-items:center;
    margin-left: 2vw;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    padding: 1vh 0;
    background-color: var(--third-color);
}

footer p {
    text-align: center;
}

h2 {
    font-size: 5.5vw;
}

iframe {
    height: 654px;
    width: 400px;
    padding: 0 20px;
}

/*Small global for flexbox line breaks*/
.break {
    flex-basis: 100%;
    height: 0;
}

/* Index Styling */

.image-dump {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 50px;
    margin-bottom: 0;
}

.image-dump img {
    max-width: 500px;
    min-width: 200px;
    object-fit: scale-down;
    margin: 10px;
}

/*hero CSS selectors*/
.hero {
    width: 80%;
    margin: 80px 10% 80px 10%;
    background-image: url(../images/ramenbig.png);
    background-position: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero h1 {
    margin-left: 40px;
    font-size: 90px;
    line-height: 1.9;
    font-weight: lighter;
}

.hero h3 {
    margin-left: 40px;
    line-height: 0.8;
    opacity: 0.65;
}

/* Who Am I Section */

.main-content h3 {
    position: relative;
    text-align: center;
    font-size: 3vw;
    font-style: italic;
    padding: 0 30px;
    margin: 30px 0;
    color: var(--third-color);
}

/* Class to create a border smaller than the div width */

.main-content h3::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 0px;
    width   : 50%;  /* or 100px */
    border-bottom:1px solid var(--third-color);
}

.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    padding: 0 5% 30px 5%;
    margin: 0 5%;
    border-bottom: 3px solid;
}

.who-am-i {
    border-right: 1px solid;
    padding-right: 20px;
}

.bio {
    text-align: right;
    margin-bottom: 10px;
    font-size: 35px;
}



/* ABOUT PAGE */

.mobile {
    display: none;
}

.about-body {
    padding-bottom: 0;
}

.overall-container {
    background-image: url(../images/bartho\ new.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.about-content {
    width: 100%;
    height: 86vh;
    
    padding-top: 8vh;
    padding-right: 25vw;
}

.about-content .container {
    width: 100%;
    height: 90%;
}

.about-title h3 {
    font-size: 60px;
}

.about-list {
    padding-left: 200px;
    font-size: 30px;
}

.about-footer {
    display: flex;

    padding-left: 2vw;
    font-size: 18px;
}

/* CODE PAGE */

.code-body {
    height: 100vh;
}

.code-section button {
    background:none;
    text-decoration:none;
    border: 1px solid white;
}

.code-section button p {
    text-align: end;
    margin-top: 5px;
    margin-left: 100px;
    border-top: 2px solid white;
    font-size: 40px;
}

.code-section button img {
    width: 600px;
}

/* MUSIC PAGE */

.music-content .row {
    flex-wrap: nowrap;
    box-sizing: content-box;
}

.audio-files {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;   
}
.audio-files p {
    margin-top: 10px;
    font-size: 20px;

}

.spotify {
    height: 442px;
}

.music-content iframe {
}

/* media query for tablet sized screens */
@media screen and (max-width: 820px){
    .smiley {
        display: none;
    }

    .hero {
        background-size: 150%;
        background-position: 90% 60%;
    }
    
    .bio {
        font-size: 25px;
    }

    .main-content h3 {
        font-size: 4vw;
    }

    .header-stuff {
        flex-wrap: wrap;
    }

    /* MUSIC */

    .music-content h2 {
        font-size: 15vw;
    }

    .music-content .row {
        flex-wrap: wrap;
    }

    .audio-files {
        margin-bottom: 10vw;
        justify-content: start;  
    }

    /* CODE */

    .code-section button {
        margin-bottom: 2vh;
    }

    .code-section button img {
        width: 80vw;
    }

       /* ABOUT */

    .about-content {
        padding-right: 0;
    }

}
/* media query for phone sized screens */
@media screen and (max-width: 450px){
    
    header ul li {
        font-size: 25px;
        padding: 10px 20px;
    }

    .header-stuff {
        justify-content: center;
        margin-bottom: 5px;;
    }

    .icon {
        width: 30px;
        height: 30px;
    }

    .hero {
        background-size: 400%;
        background-position: 40% 75%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .hero h1 {
        font-size: 60px;
        margin-left: 12px;
    }

    .who-am-i {
        text-align: right;
        border-right: 0;
        border-bottom: 1px solid;
        padding: 0;
        margin-left: 80%;
        margin-bottom: 10px;
    }

    .who-am-i h2 {
        font-size: 30px;
    }

    .main-flex {
        padding-top: 40px;
    }

    /* CODE */

    .code-section button p {
        font-size: 20px;
    }

    .code-section h2 {
        font-size: 30px;
    }

    /* ABOUT */

    .desktop {
        display:none;
    }

    .mobile {
        display: initial;
    }

    .overall-container {
        height: 100vh;
        background-position: -1150px 0;
    }

    .about-content .container {
        height: initial;
        padding-bottom: 2vh;
    }

    .about-list {
        padding-left: 0;
    }

    .about-list h3 {
        font-size: 50px;
    }

    .about-list li {
        font-size: 25px;
    }

    .about-footer {
        justify-content: space-between;
        margin: 0 20px;
    }
}